main.dist
.venv
main.build
P!ckAxe.exe
P!ckAxe_V1_4.exe
PickAxe.zip
PickAxe.exe
1. Snowflake Connection Example.ipynb
main.py
main.py
__pycache__/main.cpython-312.pyc
main.py
PickAxe_2.0.exe
Pickaxe_2.zip
Command Prompt.lnk
desktop.ini
Pickaxe_May2025.zip
config.json
__pycache__/visual_workshop.cpython-312.pyc
*.pyc
*.xml
*.csv
.__*