# requirements.txt
polars
PySide6
scipy
openpyxl       
xlrd           
pyxlsb         
xlsx2csv    
chardet       
fastexcel
xlsxwriter
pyarrow
fuzzywuzzy 
python-Levenshtein
numpy
hickle
cx_Freeze
matplotlib
seaborn